name: CI

on: 
  push:
    branches: 
    - main
  pull_request:
    branches: 
    - main

jobs:
  macos:
    runs-on: macOS-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: SPM build
      run: swift build

  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - swift:5.5
          - swift:5.6
          - swift:5.7
    services:
      localstack:
        image: localstack/localstack
    container:
      image: ${{ matrix.image }}
      env:
        LOCALSTACK_ENDPOINT : "http://localstack:4566"
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Test
      run: swift build
